
.button {
    background-color: #7397ce;;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
} 
  .mat-spacer{
    flex: 7 57 auto;
  }
 